/* Přidej své CSS styly sem */
#imgDog {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

#imgNumber {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 0 auto;
}